/* home.html + general */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: #fff;
}

body {
  background-color: #1b1b1b;
}

header {
  padding: 24px 20px;
  text-align: center;
  box-shadow: 0 3px 8px #0000002c;
}

.menu {
  display: flex;
  justify-content: center;
  gap: 30%;
  list-style: none;
}

.menu li a {
  font-size: 1.1em;
  font-weight: 500;
  text-decoration: none;
  transition: 0.5s;
}

.menu li a:hover {
  color: #ff1c3a;
}

main {
  display: flex;
  align-items: center;
  padding: 6%;
  flex-direction: column;
}

.main-title {
  font-size: 1.7em;
}

.main-title::after {
  content: "";
  display: block;
  width: 85%;
  height: 4px;
  background-color: #ffffff17;
  border-radius: 10px;
  margin: 8px auto;
  position: relative;
}

.question {
  font-size: 1.1em;
}

.q-color {
  color: #ff1c3a;
}

form {
  text-align: center;
}

.form-group {
  margin: 2.5em;
}

.form-group::after {
  content: "";
  display: block;
  width: 60%;
  height: 3px;
  background-color: #ffffff17;
  border-radius: 10px;
  margin: 0.75em auto;
  position: relative;
}

select {
  border: none;
  border-radius: 5px;
  padding: 5px;
  margin: 16px;
  background-color: #1b1b1b;
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;
}

.investiment input {
  width: 100px;
  background-color: transparent;
  border: 2px solid #ff00229c;
  border-radius: 5px;
  padding: 7px;
  text-align: center;
  margin: 12px 14px;
}

.energy-levels {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin: 20px 0;
}

.energy-option {
  width: 175px;
  padding: 20px;
  border: 2px solid #ffffff17;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

#low {
  color: #4cf170;
}

#medium {
  color: #ebee40;
}

#high {
  color: #ff1a1a;
}

.energy-option p {
  font-size: 0.85em;
  color: #bdbdbd;
}

.energy-option:hover {
  border-color: #ff1c3a;
}

.energy-option.active {
  background-color: #ff1c3a0c;
  border-color: #ff1030;
  box-shadow: 0 0 7px #ff10309d;
}

.obs {
  margin: 10px 0 30px 0;
  font-size: 15px;
  font-weight: 200;
  color: #bdbdbd;
}

.obs-mark {
  font-size: 18px;
  font-weight: 500;
  margin-right: 5px;
  color: #ff1c3a;
}

.submit-btn {
  color: #ff1c3a;
  border: 2px solid #ff1c3a;
  border-radius: 5px;
  background-color: transparent;
  padding: 12px 32px;
  font-size: 1.1em;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #ff1c3a;
  color: #1b1b1b;
}

/* about.html */

.container {
  margin: 1.5em;
  text-align: center;
  border: 3px solid #ffffff17;
  border-radius: 6px;
  padding: 12px 20px;
  width: 55vw;
}

.more-info {
  display: flex;
  justify-content: space-between;
}

.title {
  font-size: 18px;
}

.toggle-button {
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
  user-select: none;
  transition: transform 0.3s ease-in-out;
}

.toggle-button.active {
  transform: rotate(45deg);
}

.extra-text {
  display: none;
  font-size: 16px;
  margin-top: 10px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, display 0.3s ease-in-out;
}

.extra-text[style*="block"] {
  display: block;
  opacity: 1;
}

.content-info a {
  color: #ff1030;
}

#response {
  display: none;
  margin: 3em;
  border: 3px solid #ffffff17;
  border-radius: 6px;
  padding: 10px 10px 30px 10px;
}

#response h3 {
  color: #ff1c3a;
}
